body
{
	background-color : #fffeee;
	text-align : center;
	margin-top : 0px;
	margin-left : 0px;
	margin-bottom : 20px;
	margin-right : 0px;
	font-family: Verdana, Arial;
	font-size : 12px;
}
h1.title
{
	width : 100%;
	color : #ffffff;
	font-size : 200%;
	background-image : url("./img/header.png");
	background-repeat : repeat-x;
	/*background-color : #0056ff;*/
	padding : 10px;
	margin-top : 0px;
	margin-left : 0px;
	margin-bottom : 10px;
	margin-right : 0px;
	height : 40px;
}
.main
{
	width : 940px;
	position : relative;
	margin-left : auto;
	margin-right : auto;
}
.tooltip
{
	width : 500px;
	position : absolute;
	margin-left : auto;
	margin-right : auto;
	display: none;
	background-image : url("./img/shadow.png");
	top : 200px;
	left : 220px;
	z-index : 10;
}
.textarea
{
	/*width : 490px;*/
	height: 90px;
	background-color : #ffffff;
	color : #0056ff;
	padding : 0px;
	margin : 10px;
	border-width : 1px;
	border-style:ridge;
	border-collapse : collapse;
	border-color : #002e84;
}
.textarea h1, .viewer h1
{
	color : #ffffff;
	background-color: #0056ff;
	font-size : 100%;
	padding-top : 3px;
	padding-bottom : 0px;
	padding-left : 0px;
	padding-right : 0px;
	text-align : center;
	margin : 0px;
	font-size : 200%;
}
.textarea p
{
	color : #002e84;
	background-color : #ffffff;
	font-size : 100%;
	padding-left : 5px;
	padding-right : 5px;
	padding-top : 0px;
	padding-bottom : 0px;
	text-align : left;
	margin : 0px;
}
.button
{
	color : #ffffff;
	width : 100px;
	height : 28px;
	text-align : center;
	background-image : url("./img/button.png");
	background-repeat : no-repeat;
	padding : 0px;
	margin-left : 10px;
	margin-top : 10px;
	margin-bottom : 10px;
	margin-right : 3px;
	border-width : 0px;
	font-weight : bold;
	line-height : 26px;
	background-color : #ffffff;
}

.button:hover
{
	background-image : url("./img/button_over.png");
}

.button:active
{
	border-width: 0px;
}

.search
{
	padding : 0px;
	margin : 0px;
	margin-bottom : 10px;
	border-width : 1px;
	border-style:ridge;
	border-collapse : collapse;
	border-color : #002e84;
	vertical-align : middle;
}

div.menu
{
	margin : 0px;
	padding: 0px;
	text-align : left;
	vertical-align : bottom;
	display : block;
	height : 28px;
}

a.tabmenu
{
	background-image : url("./img/tab-middle.png");
	background-repeat : repeat-x;
	width: 80px;
	height: 28px;
	padding : 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height : 28px;
	color : #ffffff;
	font-weight : bold;
	text-align : center;
	float: left;
	text-decoration : none;
}

p.tabmenu
{
	background-repeat : no-repeat;
	width: 10px;
	height: 28px;
	padding : 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	float: left;
}

p.tabmenuleft
{
	background-image : url("./img/tab-left.png");
}
p.tabmenuright
{
	background-image : url("./img/tab-right.png");
}


a.tabmenu:hover
{
	background-image : url("./img/tab-middle_over.png");
}

.menubottom
{
	display : block;
	clear : left;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.bottommenu
{
	width: 100px;
	height: 2px;
	float: left;
	border : none;
	background-color : #002e84;
	float: left;
}
.bottommenuactive
{
	background-color : #0056ff;
	border-left-width : 1px;
	border-right-width : 1px;
	border-top-width : 0px;
	border-bottom-width : 0px;
	border-color : #002e84;
	border-style: solid;
	width: 98px;
}
.bottommenuinactive
{
	background-color : #fffeee;
	border-width : 0px;
	width: 100px;
}
hr
{
	color: #0056ff;
	border-width : 1px;
	border-color : #0056ff;
	border-style: solid;
	padding : 0px;
	margin : 0px;
}
.tabcontent
{
	display: none;
}
.tabcontent p, .tabcontent lu, .tabcontent li, .tabcontent h3
{
	text-align : left;
}
.header
{
	height : 40px;
	border-width : 0px;
	width : 100%;
	display : block;
}
.headermiddle
{
	font-weight : bold;
	color : #ffffff;
	text-align : center;
	font-size : 200%;
	line-height : 40px;
	height : 40px;
	width : 920px;
	background-image : url("./img/headermiddle.png");
	background-repeat : repeat-x;
	padding : 0px;
	margin : 0px;
	border : none;
	float: left;
}
.headerleft
{
	border-width : 0px;
	height : 40px;
	width : 10px;
	background-image : url("./img/headerleft.png");
	background-repeat : no-repeat;
	padding : 0px;
	margin : 0px;
	border : none;
	float: left;
}
.headerright
{
	border-width : 0px;
	height : 40px;
	width : 10px;
	background-image : url("./img/headerright.png");
	background-repeat : no-repeat;
	padding : 0px;
	margin : 0px;
	border : none;
	float: left;
}
.viewercontainer
{
	background-image : url("./img/shadow.png");
	-moz-border-radius : 12px;
	display: none;
	margin-left : auto;
	margin-right : auto;
	z-index : 10;
	padding : 10px;
	position : absolute;
}
.viewer
{
	background-color : #ffffff;
	color : #0056ff;
	padding : 0px;
	margin : 0px;
	border-width : 1px;
	border-style: solid;
	border-collapse : collapse;
	border-color : #002e84;
}
.viewer img
{
	padding : 10px;
	vertical-align : bottom;
}
.viewer p
{
	color : #002e84;
	background-color : #ffffff;
	font-size : 100%;
	padding-left : 5px;
	padding-right : 5px;
	padding-top : 0px;
	padding-bottom : 0px;
	text-align : center;
	margin : 0px;
}
.language
{
	padding-left : 0px;
	padding-top : 5px;
	padding-bottom : 5px;
	padding-right : 0px;
	float : right;
}
img.flag, img.bigflag, img.iconmedium
{
	border-bottom-color : #777777;
	border-right-color : #777777;
	border-left-color : #dddddd;
	border-top-color : #dddddd;
	border-width : 2px;
	border-style : solid;
}
img.flag
{
	width : 25px;
	height : 17px;
}
img.bigflag
{
	width : 37px;
	height : 26px;
}
img.iconmedium
{
	width : 16px;
	height : 16px;
	padding : 2px;
	background-color : #ffffff;
}
div.logos
{
	padding : 10px;
	margin-top : 10px;
	clear : left;
}
img
{
	border-width : 0px;
	z-index : 10;
	padding : 0px;
	margin : 0px;
}
.inside, .inside img, .textinside img
{
	clear : left;
	float : left;
	text-align : justify;
	vertical-align : top;
	padding-left : 0px;
	padding-top : 0px;
	padding-bottom : 0px;
	padding-right : 0px;
	margin : 0px;
	border-color : #0056ff;
	border-width : 3px 3px 3px 3px;
	border-style : solid;
	width : 934px;
}
.inside img, .textinside img
{
	clear : left;
	border-width : 0px;
	margin : 10px;
}
.textinside img
{
	width : 150px;
	height : 150px;
}
.textinside h3 a img, .textinside h4 a img
{
	width : 16px;
	height : 16px;
	margin-top : 0px;
	margin-left : 0px;
	margin-bottom : 0px;
	margin-right : 2px;
	float : left;
	clear : right;
}
strong
{
	font-weight : bold;
}
.ticker
{
	margin : 10px 0px 10px 0px;
}
.tickercontainer
{ /* the outer div with the black border */
	height: 27px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	clear : left;
}
.tickercontainer .mask
{ /* that serves as a mask. so you get a sort of padding both left and right */
	position: relative;
	left: 4px;
	top: 8px;
	overflow: hidden;
}
ul.newsticker { /* that's your list */
	position: relative;
	left: 750px;
	font-weight : bold;
	list-style-type: none;
	margin: 0px;
	padding: 0px;

}
ul.newsticker li {
	float: left; /* important: display inline gives incorrect results when you check for elem's width */
	margin: 0px;
	padding: 0px;
}
ul.newsticker a {
	white-space: nowrap;
	padding: 0px;
	font-weight : bold;
	margin: 0px 50px 0px 0px;
}
ul.newsticker span {
	margin: 0px 15px 0px 15px;
}
.textinside
{
	clear : left;
	border-width : 0px;
	margin: 10px;
	padding: 0px;
}

span.zoom
{
	width : 200px;
	clear : right;
	float : right;
	padding : 2px;
	margin-right : 0px;
	margin-bottom : 0px;
	margin-left : 0px;
	margin-top : 0px;
	text-decoration : none;
	text-align : right;
	vertical-align : middle;
	display : inline-block;
	font-size : 10px;
}

img.zoom
{
	width : 16px;
	height : 16px;
	margin-bottom : 0px;
	margin-left : 0px;
	margin-top : 0px;
	margin-right : 40px;
	padding : 0px;
	vertical-align : middle;
	float : right;
}

.thumbnail
{
	float : left;
	text-align : justify;
	vertical-align : top;
	padding-top : 0px;
	padding-bottom : 20px;
	padding-left : 0px;
	padding-right : 0px;
	margin : 0px;
	border-color : #0056ff;
	border-width : 3px 3px 3px 3px;
	border-style : solid;
	width : 934px;
}
.nothingbutleft
{
	float : left;
	border-width : 0px;
	margin-left: 22px;
	margin-right: 0px;
	margin-top: 20px;
	margin-bottom: 0px;
	padding: 0px;
	text-align : center;
	font-weight : bold;
}

p.thumb
{
	text-align : center;
	font-weight : bold;
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 5px;
	margin-bottom: 2px;
}

img.thumb, span.thumbcontainer
{
	float : left;
	clear : left;
	display : inline-block;
	width : 200px;
	height : 140px;
	border : none;/*1px solid black;*/
	z-index : -5;
}

img.allthumb
{
	z-index : 15;
	padding : 0px;
	margin : 0px;
	margin-top : auto;
	margin-bottom : auto;
}

img.appthumb
{
	width : 179px;
	height : 140px;
}
img.airportthumb
{
	width : 140px;
	height : 140px;
}
img.worldthumb
{
	width : 163px;
	height : 140px;
}
img.flightplaneditorthumb
{
	width : 200px;
	height : 99px;
}
img.metareditorthumb
{
	width : 143px;
	height : 140px;
}
img.metarreaderthumb
{
	width : 165px;
	height : 140px;
}
img.configthumb
{
	width : 152px;
	height : 140px;
}
img.calcthumb
{
	width : 200px;
	height : 69px;
}
img.logthumb
{
	width : 187px;
	height : 140px;
}

img.appview
{
	width : 800px;
	height : 625px;
}
img.airportview
{
	width : 600px;
	height : 600px;
}
img.worldview
{
	width : 700px;
	height : 600px;
}
img.flightplaneditorview
{
	width : 800px;
	height : 395px;
}
img.metareditorview
{
	width : 720px;
	height : 705px;
}
img.metarreaderview
{
	width : 723px;
	height : 615px;
}
img.configview
{
	width : 684px;
	height : 631px;
}
img.calcview
{
	width : 520px;
	height : 180px;
}
img.logview
{
	width : 640px;
	height : 480px;
}

div.appview
{
	top : 20px;
	left : 50px;
}

div.airportview
{
	top : 20px;
	left : 150px;
}
div.worldview
{
	top : 20px;
	left : 110px;
}
div.flightplaneditorview
{
	top : 20px;
	left : 55px;
}
div.metareditorview
{
	top : 20px;
	left : 95px;
}
div.metarreaderview
{
	top : 20px;
	left : 95px;
}
div.configview
{
	top : 20px;
	left : 110px;
}
div.calcview
{
	top : 110px;
	left : 190px;
}
div.logview
{
	top : 20px;
	left : 130px;
}

div.langview
{
	top : 90px;
	left : 735px;
	width : 250px;
}

div.titlebarview
{
	position : relative;
	top : 20px;
	/*left : 25px;*/
}

div.zoomview
{
	top : 105px;
	left : 785px;
	width : 150px;
}

div.cleared
{
	display : block;
	clear : left;
	float : right;
	clear : right;
	background-image : url("./img/shadow.png");
	-moz-border-radius : 6px;
	/*top : 5px;*/
	/*right : 5px;*/
	/*position : relative;*/
	z-index : 10;
	padding : 5px;
	margin : 5px;
}

div.clearedtoo
{
	display : block;
	clear : right;
	background-image : url("./img/shadow.png");
	-moz-border-radius : 6px;
	z-index : 10;
	padding : 5px;
	margin : 5px;
	vertical-align : middle;
}

.biglogo
{
	width : 32px;
	height : 32px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
	vertical-align : middle;

}

.cleared  img, .logo, span img.logo
{
	width : 16px;
	height : 16px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
	vertical-align : middle;

}
.logo
{
	margin-bottom: 4px;
	margin-right: 10px;
}
.nothing
{
	display : inline;
	border-width : 0px;
	margin-left: 0px;
	padding: 0px;
}
h3, h4, h5
{
	text-decoration : none;
	padding-left : 20px;
	padding-right : 20px;
	padding-top : 5px;
	padding-bottom : 5px;
	background-color : #0056ff;
	border-width : 1px;
	border-style : solid;
	border-color : #002e84;
	color : #ffffff;
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 0px;
	margin-bottom : 10px;
}
h4
{
	margin-left : 10px;
	width : 30%;
}
p.faqquestion
{
	width : 94%;
	text-align:left;
	padding-left: 20px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-style: italic;
	font-weight: bold;
	background-color : #0056ff;
	border-width : 1px;
	border-style : solid;
	border-color : #002e84;
	color : #ffffff;
}

p.faqanswser
{
	text-align:left;
	padding-left: 30px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
}

p
{
	padding-left: 10px;
}

li
{
	color: #002e84;
	display : list-item;
	padding-left: 20px;
}
.subtitle
{
	width : 98px;
	padding : 2px;
	display: none;
	position : absolute;
	top : 115px;
	margin : 0;
	z-index : 10;
	border-color : #002e84;
	background-color : #0056ff;
	border-width : 1px;
	border-style : solid;
}

.subtitle, .subtitle ul, .subtitle li
{
}

.subtitle ul
{
	padding : 0;
	margin : 0;
}
.subtitle li
{
	padding : 5px;
	margin : 0;
	color : #ffffff;
	text-decoration : none;
	border-top-color : #777777;
	border-left-color : #777777;
	border-right-color : #dddddd;
	border-bottom-color : #dddddd;
	border-width : 2px;
	border-style : solid;
}
.subtitle li a
{
	color : #ffffff;
	text-decoration : none;
}
.newlineright
{
	clear : right;
	padding : 0px;
	margin : 0px;
}
.newlineleft
{
	clear : left;
	padding : 0px;
	margin : 0px;
}
.newlineright a
{
	text-decoration : none;
}
.newlineleft a
{
	text-decoration : none;
}
.cmdline
{
	border-color : #dddddd;
	color : #ffffff;
	background-color : #000000;
	display : block;
	width : 90%;
	padding : 3px;
	margin-top : 5px;
	margin-bottom : 10px;
	margin-right : 30px;
	margin-left : 5px;
	font-weight: bold;
	font-family: Monospace, Verdana;
}
.windowbtn
{
	position : absolute;
	top : 18px;
	right : 18px;
	text-align : right;
	z-index : 20;
	color : #ffffff;
}
.windowbtn img
{
	float : right;
	width : 20px;
	height : 20px;
	border : none;
	margin-top : 0px;
	margin-bottom : 0px;
	margin-right : 0px;
	margin-left : 5px;
	padding : 0px;
}

.bordered
{
	border-color : #0056ff;
	border-width : 1px;
	border-style : solid;
	margin-bottom: 10px;
}

#manual00
{
	float : none;
	text-align : center;
}

em
{
	font-style: normal;
	font-size : 110%;
}
